/* Fonts */
@font-face {
  font-family: "JMH Typewriter";
  src: url("assets/fonts/jmh_typewriter/JMH Typewriter.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "FiraCodeNerd";
  src: url("assets/fonts/FiraCodeNerdFont-Regular.woff2") format("woff2");
  font-display: swap;
}

body {
  background: #000;
  color: #eee;
  font-family: "JMH Typewriter";
  text-align: center;
  padding: 20px;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.panel {
  width: 95vw;
  max-width: 800px;
  background: rgba(40,40,40,0.85);
  color: #fff;
  padding: 0.2rem;
  border: 3px solid #333;
}

pre, preff {
  white-space: pre;
  text-align: center;
  display: inline-block;
  background: rgba(20,20,20,0.7);
  font-size: 0.5rem;
}

preff {
  font-family: "FiraCodeNerd";
  font-size: 0.8rem;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  width: 90vw;
  max-width: 800px;
  margin: 0.3rem auto;
}

.crt-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.15) 0px,
        rgba(0, 0, 0, 0.15) 1px,
        transparent 1px,
        transparent 2px
      );
      pointer-events: none;
      z-index: 999;
      animation: flicker 0.15s infinite;
    }


.links a {
  border: 2px solid #333;
  color: #4c40ff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.links a:hover, a:focus {
  color: #6c60ff;
  text-decoration: underline;
}

